body{
    background-color: rgb(182, 239, 239);
}
h1{
    text-align: center;
}
button{
    background-color: black;
    color: white;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productContainer {
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: rgb(249, 237, 237)
}
.product {
    border: 1px solid #2f2626;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
  
}
@media (max-width: 600px) {
    #productContainer {
        grid-template-columns: repeat(1, 1fr);
    }}

 