body{
    background-color: rgb(182, 239, 239);
}
h1{
    text-align: center;
}
button{
    background-color: black;
    color: white;
    width: 150px;
    padding: 5px;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}